@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --font-primary: "Chivo Mono", monospace;

    --color-primary: #38332e;
    --color-secondary: #fefefd;
    --color-bright: #fca30a;
    --color-light: #e0d6cd;
    

    --color-background--light: #fefefd;
    --color-background--beige: #e0d6cd;
    --color-background--dark: #302d27;

    --color-button--dark: #302d27;
    --color-button--dark--hover: #302d27;

    --color-button--light: #fefefd;
    --color-button--light--hover: #e0d6cd;

    --color-button-text--dark: #302d27;
    --color-button-text--light: #fefefd;

    --color-text--dark: #302d27;
    --color-text--light: #fca30a;
    --color-text--white: #fefefd;

    --desktop-width: 1440;

}