@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --font-primary: "Chivo Mono", monospace;

    --color-primary: #1f1f1f;
    --color-secondary: #fefefd;

    --color-background--light: #fefefd;
    --color-background--beige: #f4f3f1;
    --color-background--dark: #1f1f1f;

    --color-button--dark: #1f1f1f;
    --color-button--dark--hover: #1f1f1f;

    --color-button--light: #fefefd;
    --color-button--light--hover: #737373;

    --color-button-text--dark: #1f1f1f;
    --color-button-text--light: #fefefd;

    --color-text--dark: #1f1f1f;
    --color-text--light: #aaaaaa;
    --color-text--white: #fefefd;

    --desktop-width: 1440;

}