.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10px;
    &__logo {
        height: 6rem;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        img {
            height: 100%;
        }

        &:hover {
            transform: scale(1.04);
        }
    }


    &__hamburger {
        border: none;
        display: flex;
        flex-direction: column;
        gap: 6px;
        cursor: pointer;
    }

    .line {
        width: 24px;
        height: 1.5px;
        background-color: var(--color-primary);
    }
}
